ul {
    list-style: none;
}

li {
    cursor: pointer;
}

small {
    font-size: .8em;
}

.ameliaChecklist {
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.75em;
    color: rgb(100, 10, 125);
}
